.banner{
    background-image: url("../img/Banner.jpg");
    padding: 25%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.banner::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.menu{
    background-color: transparent;
}